@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro Rounded";
  src: url("/fonts/SF-Pro-Rounded-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("/fonts/SF-Pro-Rounded-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "SF Pro Rounded", sans-serif;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-animated {
  background: linear-gradient(90deg, #aec6cf, #c3b1e1, #ffd1dc, #ffb347);
  background-size: 300% 300%;
  animation: gradientShift 30s ease infinite;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}

.animate-twinkle {
  animation: twinkle 3s infinite;
}

.text-muted-foreground {
  color: rgba(255, 255, 255, 0.6);
}
